﻿@using CoursesCatalog.Models.ViewModels;
@model CourseViewModel

<div class="modal-body">
    <form id="edit-course-form" style="margin-top:-80px" class="edit-course-form" asp-controller="Home" asp-action="UpdateCourse" data-ajax="true" data-ajax-method="POST">
        <div class="form-group" style="visibility:collapse">
            <label style="visibility:collapse" for="Title">Course Title:</label>
            <input style="visibility:collapse" type="text" class="form-control" id="Title" name="ID" value="@Model.ID">
        </div>
        <div class="form-group">
            <label for="Title">Course Title:</label>
            <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" required>
        </div>
        <div class="form-group">
            <label for="Description">Course Description</label>
            <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" required>
        </div>
        <div class="form-group">
            <label for="DayOfWeek">Choose Course day</label>
            <select class="form-control" id="DayOfWeek" name="DayOfWeek" required>
                <option>@Model.DayOfWeek</option>
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
                <option>Sanday</option>
            </select>
        </div>
        <div class="form-group">
            <label for="StartHour">Pick course start time</label>
            <input id="StartHour" type="time" min="09:00" max="17:00" name="StartHour" value="@Model.StartHour.ToString("HH:mm")" required>
        </div>
        <div class="form-group">
            <label for="EndHour">Pick course end time</label>
            <input id="EndHour" type="time" name="EndHour" min="09:00" max="17:00" value="@Model.EndHour.ToString("HH:mm")" required>
        </div>
        <div class="form-group">
            <label for="Price">Price</label>
            <input id="Price" type="number" min="0" max="10000" name="Price" value="@Model.Price" required>
        </div>
        <button id="saveChangesBtn" type="submit" class="btn btn-success">Save Changes</button>
    </form>
</div>
<script>
$('#edit-course-form').submit(function (e) {
    var startHour = $(this).find('#StartHour').val();
    var endHour = $(this).find('#EndHour').val();
    debugger;
    if ((endHour <= startHour) || ((endHour - startHour) < 1)) {
        alert("Please validate your course time")
        e.preventDefault();
    }
    });
</script>
