﻿@using CoursesCatalog.Models.ViewModels;
@model IEnumerable<CourseViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<div id="courses-page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="diagram-placeholder">
                    <div class="timetable"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <strong>Courses that you have selected</strong>
            </div>
            <div class="col-md-4">
                <label data-course-value=""></label>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <section class="col-md-4 text-center" id="quotes">
                    <div>
                        <label style="visibility:collapse" class="json_data" data-jsonValue='{"eventName":"@item.Title", "day":"@item.DayOfWeek", "startHour":"@item.StartHour.Hour","endHour":"@item.EndHour.Hour"}'></label>
                        <div class="panel panel-danger panel-quote link-panel">
                            <div class="panel-heading">
                                <strong>@item.Title</strong>
                            </div>
                            <div class="panel-body">
                                <p>@item.Description</p><br>
                                <strong>Day: @item.DayOfWeek</strong><br>
                                <strong>Time: @item.StartHour.Hour - @item.EndHour.Hour</strong><br>
                                <strong>Price:@item.Price $</strong>
                                <hr>
                                <button id="edit-course" type="button" class="btn btn-default btn-sm" data-courseid="@item.ID">Edit</button>
                                <a asp-controller="Home" asp-action="DeleteCourse" class="btn btn-danger btn-sm" asp-route-courseId="@item.ID" role="button">Delete Course</a>
                            </div>
                        </div>
                    </div>
                </section>
            }
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <center><button type="button" data-toggle="modal" data-target="#courseModal" class="btn btn-success">Add new Course</button></center>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>

<!-- Add new course Modal -->
<div id="courseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new course</h4>
            </div>
            <div class="modal-body">
                <form id="add-course" asp-controller="Home" asp-action="AddNewCourse" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#courses-page-content">
                    <div class="form-group">
                        <label for="Title">Course Title:</label>
                        <input type="text" class="form-control" id="Title" name="Title" required>
                    </div>
                    <div class="form-group">
                        <label for="Description">Course Description</label>
                        <input type="text" class="form-control" id="Description" name="Description" required>
                    </div>
                    <div class="form-group">
                        <label for="DayOfWeek">Choose Course day</label>
                        <select class="form-control" id="DayOfWeek" name="DayOfWeek" required>
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                            <option>Saturday</option>
                            <option>Sanday</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="StartHour">Pick course start time</label>
                        <input id="StartHour" type="time" min="09:00" max="17:00" name="StartHour" required>
                    </div>
                    <div class="form-group">
                        <label for="EndHour">Pick course end time</label>
                        <input id="EndHour" type="time" min="09:00" max="17:00" name="EndHour" required>
                    </div>
                    <div class="form-group">
                        <label for="Price">Price</label>
                        <input id="Price" type="number" min="0" max="10000" name="Price" required>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add new course Modal -->
<div id="editCourseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit course</h4>
            </div>
            <div id="updated-content-container">
               
            </div>
        </div>
    </div>
</div>